{% if 'home' == page.layout %}
  {% assign post = site.posts.first %}
{% else %}
  {% assign post = page %}  
{% endif %}

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if post %}
        {{ post.title }}      
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
  </head>
  
  <body>
    {% if 'home' != page.layout %}
      <a href="{{ site.url }}">home</a>
    {% else %}
      <del>home</del>
    {% endif %}

    {% if post %}
      <!-- Link to newer post if exists -->
      
      {% if 'post' == page.layout and post.next %}
        <a href="{{ post.next.url }}">newer</a>
      {% else %}
        <del>newer</del>
      {% endif %}

      <!-- Link to older post if exists -->
      &nbsp;
      {% if 'post' == page.layout and post.previous %}
        <a href="{{ post.previous.url }}">older</a>
      {% else %}
        <del>older</del>
      {% endif %}
    
      &nbsp;
      {% if 'bookmarks' != page.layout %}
        <a href="{{ site.url }}/bookmarks.html">bookmarks</a>
      {% else %}
        <del>bookmarks</del>
      {% endif %}
    
      <!-- To view repository of this post, link to Github -->
      &nbsp;
      <a href="{{ site.github.repository_url }}/blob/master/{{ post.path }}">Github</a>

      <!-- To edit this post, link to Prose -->
      &nbsp;
      <a href="https://prose.io/#{{ site.github.owner_name }}/{{ site.github.owner_name }}.{{ site.github.pages_hostname }}/edit/master/{{ post.path }}">Prose</a>

      <h1>
        {% if 'home' == page.layout %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </h1>

      {{ post.content }}
    {% endif %}
  </body>
</html>
