{% if 'post' == page.layout %}
  {% assign post = page %}
{% else %}
  {% assign post = site.posts.first %}
{% endif %}

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if post %}
        {{ post.title }}      
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
  </head>
  
  <body>
    <a href="{{ site.url }}">home</a>

    {% if post %}
      <!-- Link to newer post if exists -->
      &nbsp;
      {% if post.next %}
        <a href="{{ post.next.url }}">newer post</a>
      {% else %}
        <del>Newer post</del>
      {% endif %}

      <!-- Link to older post if exists -->
      &nbsp;
      {% if post.previous %}
        <a href="{{ post.previous.url }}">older post</a>
      {% else %}
        <del>Older post</del>
      {% endif %}

      <!-- To view repository of this post, link to Github -->
      &nbsp;
      <a href="{{ site.github.repository_url }}/blob/master/{{ post.path }}">Github</a>

      <!-- To edit this post, link to Prose -->
      &nbsp;
      <a href="https://prose.io/#{{ site.github.owner_name }}/{{ site.github.owner_name }}.{{ site.github.pages_hostname }}/edit/master/{{ post.path }}">Prose</a>

      <h1>
        {% if 'home' == page.layout %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </h1>

      {{ post.content }}
    {% endif %}
  </body>
</html>
